---
plugin: amazon.aws.aws_ec2

regions:
  - eu-west-2

filters:
  tag:Project:
    - nginx-demo
  instance-state-name:
    - running

keyed_groups:
  - key: tags['Role']
    prefix: ""

hostnames:
  - private-ip-address
  - ip-address

compose:
  ansible_host: public_ip_address | default(private_ip_address)
